<section class="register-container">
  <h1>Create an account</h1>

  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="First Name"
        formControlName="firstName"
        required
      />
      <mat-error *ngIf="form.controls.firstName.errors">
        Please enter your first name.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        required
      />
      <mat-error *ngIf="form.controls.lastName.errors">
        Please enter your last name.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="form.controls.email.errors">
        <ng-container
          *ngIf="form.controls.email.hasError('required'); else notValid"
        >
          Please enter your email.
        </ng-container>
        <ng-template #notValid>Please enter a valid e-mail.</ng-template>
      </mat-error>
    </mat-form-field>
    <international-phone-number
      placeholder="Enter phone number"
      [maxlength]="20"
      [defaultCountry]="'ph'"
      [required]="true"
      formControlName="mobileNumber"
    ></international-phone-number>
    <mat-error *ngIf="form.controls.mobileNumber.errors">
      Please enter your mobile number.
    </mat-error>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        required
      />
      <mat-error *ngIf="!!form.controls.password.invalid">
        <ng-container *ngIf="form.controls.password.hasError('required')">
          Password is required.
        </ng-container>
        <ng-container *ngIf="form.controls.password.hasError('minlength')">
          Minimum 8 characters.
        </ng-container>
        <ng-container *ngIf="form.controls.password.hasError('pattern')">
          Need at least an uppercase and a lowercase letter, and a number.
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        required
      />
      <mat-error *ngIf="form.controls.confirmPassword.invalid">
        <ng-container
          *ngIf="form.controls.confirmPassword.hasError('required')"
        >
          Confirm Password is required.
        </ng-container>
        <ng-container
          *ngIf="form.controls.confirmPassword.hasError('misMatch')"
        >
          Password mismatch.
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="!form.valid"
      >Please fill up all required fields.</mat-error
    >
    <button
      mat-raised-button
      color="primary"
      (click)="form.valid && register(form.value)"
      [disabled]="!form.valid || isPending"
    >
      Register
      <mat-spinner diameter="25" color="warn" *ngIf="isPending"></mat-spinner>
    </button>
    <div>Already a member? <a routerLink="/login">Sign in</a></div>
  </form>
</section>
