section {
  width: 100%;
  margin: 30px auto;
  max-width: 320px;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 320px;
    width: 100%;

    mat-form-field.mat-form-field {
      font-size: 12px;
      padding: 3px 0;
    }

    mat-spinner {
      position: absolute;
      top: 6px;
      right: 8px;
    }

    ::ng-deep {
      .mystyle .dropbtn {
        border: none;
      }
      input {
        border: none;
        box-shadow: none;
        border-radius: 0;
      }
      textarea:focus,
      input:focus {
        outline: none;
      }
    }
  }
}
