<section class="register-container">
  <h1>Create an account</h1>

  <form [formGroup]="form" (ngSubmit)="register(form.value)">
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="First Name"
        formControlName="firstName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Last Name"
        formControlName="lastName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Mobile Number"
        formControlName="mobileNumber"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink="/profile">
      Register
    </button>
    <div>Already a member? <a routerLink="/login">Sign in</a></div>
  </form>
</section>
