<section class="profile-container">
  <h1>My profile</h1>
  <ng-container *ngIf="isLoaded; else loading">
    <div>
      <input
        hidden
        #imageFile
        type="file"
        (change)="onSelectPhotoFile($event)"
        xaccept="image/*"
        accept="image/*"
      />
    </div>
    <div class="photo-container">
      <div class="file-panel">
        <div class="file-panel-toolbar">
          <button
            mat-icon-button
            matTooltip="Change Photo"
            matTooltipPosition="above"
            (click)="imageFile.click()"
          >
            <mat-icon>photo_camera</mat-icon>
          </button>
        </div>
      </div>
      <img
        class="file-preview"
        mat-card-image
        [src]="photo.currentUrl"
        *ngIf="photo.currentUrl"
      />
    </div>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          placeholder="First Name"
          formControlName="firstName"
          required
        />
        <mat-error *ngIf="form.controls.firstName.errors">
          Please enter your first name.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          required
        />
        <mat-error *ngIf="form.controls.lastName.errors">
          Please enter your last name.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          placeholder="Email"
          readonly
          [value]="email"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="text" hidden />
        <international-phone-number
          class="mystyle"
          placeholder="Enter phone number"
          [maxlength]="20"
          [defaultCountry]="'ph'"
          [required]="true"
          formControlName="mobileNumber"
          matInput
        ></international-phone-number>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          [matDatepicker]="birthdateDatePicker"
          placeholder="Birthdate"
          formControlName="birthdate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthdateDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthdateDatePicker></mat-datepicker>
        <mat-hint align="start">(MM/DD/YYYY)</mat-hint>
        <mat-error *ngIf="form.controls.birthdate.errors">
          Please enter your birthdate.
        </mat-error>
      </mat-form-field>
      <mat-radio-group formControlName="gender" required>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="!form.valid || !photo.currentUrl"
        >Please fill up all required fields.</mat-error
      >
      <div class="button-actions">
        <button mat-raised-button (click)="logout()">
          Logout
        </button>
        <span></span>
        <button
          mat-raised-button
          color="primary"
          (click)="form.valid && update(form.value)"
          [disabled]="isPending || !form.valid || !photo.currentUrl"
        >
          Update
          <mat-spinner
            diameter="25"
            color="warn"
            *ngIf="isPending"
          ></mat-spinner>
        </button>
      </div></form
  ></ng-container>
  <ng-template #loading
    ><mat-spinner diameter="50" color="warn"></mat-spinner
  ></ng-template>
</section>
