<section class="profile-container">
  <h1>My profile</h1>
  <div class="upload-card"></div>
  <form [formGroup]="form" (ngSubmit)="register(form.value)">
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="First Name"
        formControlName="firstName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Last Name"
        formControlName="lastName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Mobile Number"
        formControlName="mobileNumber"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Birthday"
        formControlName="birthday"
      />
    </mat-form-field>
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button value="2">Female</mat-radio-button>
    </mat-radio-group>
    <div class="button-actions">
      <button mat-raised-button (click)="(null)">
        Cancel
      </button>
      <span></span>
      <button mat-raised-button color="primary" (click)="(null)">
        Update
      </button>
    </div>
  </form>
</section>
