section {
  width: 100%;
  margin: 30px auto;
  max-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid 1px #ccc;
    margin-top: 5px;
    color: #999;
    &.photo {
      width: 150px;
      height: 150px;
      img {
        object-fit: contain;
        width: 150px;
        height: 150px;
      }
    }
    img {
      flex-shrink: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 320px;
    width: 100%;

    .button-actions {
      display: flex;
      button {
        flex: 1;
      }
    }

    mat-radio-group {
      mat-radio-button {
        margin: 10px;
      }
    }
  }
}
