<section class="login-container">
  <h1>Login</h1>

  <form [formGroup]="form" (ngSubmit)="login(form.value)">
    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>
    <div>
      <div class="stay-signed-in">Stay signed in</div>
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot your password?</a>
      </div>
    </div>
    <button mat-button class="primary" (click)="(null)">
      Sign in
    </button>
    <div>Don't you have an account? <a routerLink="/register">Register</a></div>
  </form>
</section>
