<section class="login-container">
  <h1>Login</h1>

  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Email"
        formControlName="email"
        required
      />
      <mat-error *ngIf="form.controls.email.errors">
        Please enter your email.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        required
      />
      <mat-error *ngIf="form.controls.password.errors">
        Please enter your password.
      </mat-error>
    </mat-form-field>
    <div class="sign-in-tag">
      <div class="stay-signed-in">Stay signed in</div>
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot your password?</a>
      </div>
    </div>
    <ng-container *ngIf="isUserNotVerified">
      <div>
        Resend email confimation? Click
        <a
          href="javascript:void(0)"
          (click)="resendEmailVerification(form.controls.email.value)"
          >here</a
        >.
      </div>
    </ng-container>
    <button
      mat-raised-button
      color="primary"
      (click)="form.valid && login(form.value)"
      [disabled]="isPending"
    >
      Sign in<mat-spinner
        diameter="25"
        color="warn"
        *ngIf="isPending"
      ></mat-spinner>
    </button>
    <div>Don't you have an account? <a routerLink="/register">Register</a></div>
  </form>
</section>
